@font-face {
    font-family: 'Myanmar Text';
    src: url('MyanmarText-Bold.woff2') format('woff2'),
        url('MyanmarText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

